<div style="width: 50%">

    <canvas id="canvas">

    </canvas>
    <table style="margin-left: 50%;">
        <tr>
            <th>January</th>
            <th>Feb</th>
        </tr>
        <!-- <tr *ngFor="let d of chart">
            <td>{{d.january}}</td>
            <td>{{d.february}}</td>
        </tr> -->
        
    </table>
 </div>
<!-- 
 <div class="chart-container">
    <canvas  id="MyChart" >{{ chart }}</canvas>this.chart.update();
</div> -->
<!-- <app-bar-component></app-bar-component> -->